<h2><%= @person.full_name %></h2>

<p>
  Born <%= formatted_date( @person.birth_date ) %> in <%= @person.birth_place %>, weighing <%= @person.weight_pounds %>.
</p>

<%= memories_created( @person ) %>

<%= memories_about( @person ) %>
