<h2><%= @person.full_name %></h2>

<h3>Memories About <%= @person.first_name %></h3>
<% @person.memories.each do |memory| %>

  <h4><%= memory.title %></h4>

  <p class="memdate">
    <%= memory.formatted_date %>
  </p>

  <p>
    <%= memory.body %>
  </p>

<% end %>
