<h2><%= @memory.title %></h2>

<% @memory.people.each do |person| %>
  <a href="<%= person_path( person )%>">
    <span class="person"><%= person.first_name %> <%= person.last_name %></span>
  </a>
<% end %>

<p class="memdate">
  <%= @memory.formatted_date %>
</p>

<p class="membody">
  <%= @memory.body %>
</p>
